body{
  background-color:#E1F1FF;
     margin: 0;

}

h1{
  text-align:center;
  color:#046DF6;
}


h2{
  text-align:center;
    color:#9576CA;
}

h3{
  text-align:center;
}

img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

#title{
     width: 100%;
     height: 100%;
}

#video{
     width: 100%;
     height: 100%;
}
